---
import Project from "../Project.astro";
---

<Project
  imgName="clon-trello"
  title="Clon de Trello"
  tags={["React", "Tailwind", "Shadcn/ui", "Zustand", "React Router"]}
  youtubeLink="https://www.youtube.com/playlist?list=PLU7evwQ_gsw73XmSQRRLAtnlbVU0uE_UY"
  githubLink="https://github.com/jcastellanosierras/clon-trello-time-tracker"
  deployedLink="https://clon-trello-time-tracker.vercel.app/"
>
  <p>
    Clon de Trello hecho con <strong>React</strong>.
  </p>
  <p>
    La navegación entre tableros está hecha mediante <strong>React Router</strong>.
  </p>
  <p>
    Para los estilos se utilizan <strong>Tailwind</strong> y <strong>Shadcn/ui</strong>.
  </p>
  <p>
    Para el Drag And Drop se usa una librería hecha por el equipo de <strong>Formkit</strong>.
  </p>
  <p>
    Y para almacenar el estado global de la aplicación se utiliza <strong>Zustand</strong>.
  </p>
</Project>