---
import Project from '../Project.astro'
---

<Project
  imgName="acortador-urls"
  title="Acortador de URLs"
  tags={['Astro', 'Astro DB', 'Auth.js', 'Sonner', 'Fly.io']}
  youtubeLink="https://youtu.be/u4GObbrf1qU"
  githubLink="https://github.com/jcastellanosierras/acortador-urls-astro"
  deployedLink="https://acortador-urls.fly.dev/"
>
  <p>
    Acortador de URLs hecho con <strong>Astro</strong>, el framework de moda de la web.
  </p>
  <p>
    La autenticación está hecha mediante la librería <strong>auth-astro</strong>, basada en OAuth 2.0, utilizando <strong>GitHub</strong> como proveedor.
  </p>
  <p>
    Integración con <strong>Node.js</strong> para el <strong>SSR</strong>.
  </p>
  <p>
    Integración de <strong>React</strong> para crear el componente que gestiona la petición de acortar la URL.
  </p>
  <p>
    <strong>Astro DB</strong> para gestionar al usuario y a las URLs acortadas.
  </p>
  <p>
    <strong>API Endpoint</strong> con Astro para devolver la URL acortada.
  </p>
  <p>
    Envío de notificaciones de, URL copiada al portapapeles, con <strong>Sonner</strong>.
  </p>
  <p>
    Y despliegue hecho con <strong>Fly.io</strong>.
  </p>
</Project>
