---
import Layout from '../layouts/Layout.astro'
import FunnelForm from '../components/forms/FunnelForm.astro'

const title =
  'Formulario de solicitud para un embudo de ventas | Jose Castellano'
---

<Layout title={title} index={false}>
  <div id="intro">
    <h1>¿Quieres que tu negocio <strong>despegue</strong>?</h1>
    <p>
      Rellena el formulario de la mejor forma posible para que tu proyecto sea
      seleccionado y <strong>podamos hacerlo explotar</strong>.
    </p>
    <p>
      El <strong>miércoles 6 a las 23:59</strong> se dejarán de aceptar solicitudes y se seleccionarán los proyectos.
    </p>
    <p>
      Y a lo largo del <strong>domingo 10</strong> se contactará a los seleccionados.
    </p>
  </div>
  <FunnelForm />
</Layout>
