---
import Layout from "../layouts/Layout.astro";
import Avatar from "../components/Avatar.astro";
import Pill from "../components/Pill.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import BriefcaseIcon from "../components/icons/BriefcaseIcon.astro";
import ProfileCheckIcon from "../components/icons/ProfileCheckIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";

const title =
  "Porfolio de José Castellano Sierras | Ingeniero Telemático y Desarrollador FullStack con 1 año de experiencia";
const description =
  "Aquí podrás encontrar más información de José Castellano Sierras. Ingeniero Telemático, especializado en el sector del desarrollo web. Con 1 año de experiencia laboral y 2 años de experiencia en proyectos personales.";
const linkedInHref = "https://www.linkedin.com/in/josecastellanosierras/";
---

<Layout title={title} description={description}>
  <main>
    <section>
      <Avatar />
      <h1>José Castellano Sierras</h1>
      <h2>Desarrollador FullStack</h2>
      <p>
        +1 año de experiencia. <strong
          >Ingeniero Telemático, Desarrollador FullStack y Creador de Contenido
          sobre Desarrollo Web y Emprendimiento</strong
        >. Soy de Málaga, España.
      </p>
      <div id="pills">
        <Pill href={linkedInHref}>
          <LinkedInIcon />
          LinkedIn
        </Pill>
        <Pill href="mailto:jcastellanosierras@gmail.com">
          <MailIcon />
          Contáctame
        </Pill>
      </div>
    </section>

    <section id="experiencia">
      <h2>
        <BriefcaseIcon width="30" height="30" />
        Experiencia
      </h2>
      <ul id="experience-list">
        <li>
          <div>
            <h3><strong>Desarrollador FullStack</strong></h3>
            <h4>DM Integrations</h4>
            <p>Enero 2024</p>
          </div>
          <p>
            Contrato de formación. <strong
              >Desarrollo de aplicaciones web completas</strong
            > usando <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://remix.run/">Remix</a
            >, React, además de varias bibliotecas como TanStack Table,
            react-hook-forms, react-hot-toast, Radix UI, Shadcb/ui, etc. Además
            de usar <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.edgedb.com/">EdgeDB</a
            > como base de datos. <strong
              >Implantación de Arquitectura Hexagonal</strong
            >.
          </p>
        </li>
      </ul>
    </section>

    <section id="proyectos">
      <h2><CodeIcon />Proyectos</h2>
      <p>
        Aquí iré subiendo los proyectos que construya en <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.youtube.com/@josecastellanodev"
          >mi canal de YouTube</a
        >.
      </p>
      <button>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/jcastellanosierras">Ver proyectos</a
        >
      </button>
    </section>

    <section id="sobre-mi">
      <h2><ProfileCheckIcon />Sobre mí</h2>
      <p>
        Hey, soy José Manuel, aunque no me gusta. Me recuerda a cuando me
        llamaba mi madre cuando suspendía un examen. Así que solo Jose.
      </p>
      <p>
        Desde pequeñito sabía que me iba a dedicar a algo relacionado con los
        ordenadores, era una <strong>extraña pasión</strong> que tenía. Veía algún aparato
        electrónico y el <strong>resto del mundo desaparecía</strong>.
      </p>
      <p>
        Así que hoy soy <strong>Ingeniero en Telemática por la Universidad de Málaga</strong>.
        Aunque no te voy a engañar, a día de hoy <strong>no es mi pasión</strong>.
      </p>
      <p>
        En 2019, el año que entré a la carrera, <strong>fue un fracaso</strong>. Descubrí el
        mundo del <strong>Emprendimiento y del Desarrollo Web</strong> y empecé a hacer mis
        primeros pinitos.
      </p>
      <p>
        La carrera pasó por un tiempo a segundo plano, y eso se reflejó en las
        notas. <strong>Solo aprobé dos</strong>, casualmente las más relacionadas con la
        programación.
      </p>
      <p>
        Después de una charla con mi madre, decidimos que <strong>"lo mejor"</strong> era acabar
        la carrera. Era el primer año, por lo que me quedaba alguno que otro
        más...
      </p>
      <p>
        5 años después, soy Ingeniero y celebro cada día desde que me dieron el
        último aprobado, ya que <strong>ahora puedo dedicarme a lo que me gusta
        realmente</strong>.
      </p>
      <p>
        No quiero decir que no mereciera la pena la carrera, quiero decir, <strong>tengo
        la vida resuelta</strong> si quisiera.
      </p>
      <p>¿A qué persona en el mundo en que vivimos actualmente no le gustaría poder decir esto?</p>
      <p>
        Pero <strong>no es lo que quiero</strong>, no quiero seguir órdenes toda mi vida, quiero
        trabajar por cuenta propia y para mi propio beneficio. <strong>Que toda mi vida
        dependa única y exclusivamente de mí</strong>.
      </p>
      <p>
        Es por eso que tengo <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.youtube.com/@josecastellanodev"
          >mi Canal de YouTube</a
        >, y mi <a
          href="Sígueme en LinkedIn: www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=josecastellanosierras"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >.
      </p>
    </section>

    <!-- <section id="contacto">
      <h2>Contacto</h2>
      <form action="mailto:jcastellanosierras@gmail.com">
        <input type="text" placeholder="Nombre" />
        <input type="email" placeholder="Correo electrónico" />
        <textarea placeholder="Mensaje"></textarea>
        <button type="submit">Enviar</button>
      </form>
    </section> -->
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }

  h1,
  h2 {
    margin-top: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 50px;
  }

  section > * {
    margin-top: 1rem;
  }

  strong {
    color: var(--primary-100);
    font-weight: 600;
  }

  #pills {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  a {
    color: var(--accent-200);
  }

  #experience-list {
    list-style-type: disc;
  }

  #experience-list::marker {
    color: var(--primary-100);
  }

  #experience-list > li {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  #experience-list > li > div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    line-height: 1.5;
  }

  #experience-list > li > div > h3 {
    font-size: 1.5rem;
  }

  #experience-list > li > div > h4 {
    font-size: 1.2rem;
  }

  #experience-list > li > div > p {
    font-size: 0.9rem;
  }

  #experience-list > li > p {
    font-size: 1rem;
  }

  #proyectos > button {
    background-color: var(--accent-200);
    transition: background-color 0.2s;
    border-radius: 7px;
    height: 30px;
    margin: 0 auto;
    margin-top: 2rem;
    width: fit-content;
  }

  #proyectos > button:hover {
    background-color: var(--accent-100);
  }

  #proyectos > button > a {
    color: var(--bg-100);
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
  }

  #sobre-mi > p {
    font-size: 1rem;
  }

  #sobre-mi > p strong {
    color: var(--primary-200);
  }

  @media (min-width: 768px) {
    section {
      width: 70ch;
    }

    #experience-list > li {
      flex-direction: row;
      gap: 5rem;
    }
  }
</style>
