---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Política de Privacidad'
  description='Política de privacidad de la web de José Castellano Sierras'
  index={false}
>
<h1>Política de Privacidad</h1>
    
<h2>Introducción</h2>
<p>Bienvenido a mi portafolio personal. Esta Política de Privacidad describe cómo se recopila, utiliza y protege la información personal de los visitantes del sitio web josecastellano.dev. Nos comprometemos a proteger su privacidad y a garantizar que su información personal se maneje de manera segura y responsable.</p>

<h2>Información Recopilada</h2>
<h3>Datos Personales</h3>
<p>El único dato personal que recopilamos es su dirección de correo electrónico. Esta información se recopila únicamente cuando usted voluntariamente la proporciona y acepta recibir correos electrónicos de nuestra parte.</p>

<h2>Uso de la Información</h2>
<p>Utilizamos su dirección de correo electrónico únicamente para enviarle correos electrónicos relacionados con nuestro portafolio y otros contenidos que puedan ser de su interés. No compartimos su dirección de correo electrónico con terceros.</p>

<h2>Consentimiento</h2>
<p>Al proporcionar su dirección de correo electrónico y aceptar esta Política de Privacidad, usted consiente en que utilicemos su información según se describe en esta política.</p>

<h2>Seguridad</h2>
<p>Nos comprometemos a garantizar que su información esté segura. Implementamos medidas de seguridad adecuadas para proteger su dirección de correo electrónico contra el acceso no autorizado, la alteración, la divulgación o la destrucción.</p>

<h2>Enlaces a Otros Sitios Web</h2>
<p>Nuestro sitio web puede contener enlaces a otros sitios de interés. Sin embargo, una vez que haya utilizado estos enlaces para salir de nuestro sitio, no tenemos control sobre esos otros sitios web. Por lo tanto, no podemos ser responsables de la protección y privacidad de cualquier información que proporcione mientras visita dichos sitios, y dichos sitios no se rigen por esta política de privacidad.</p>

<h2>Cambios en la Política de Privacidad</h2>
<p>Podemos actualizar esta Política de Privacidad ocasionalmente para reflejar cambios en nuestras prácticas o por otras razones operativas, legales o regulatorias. Le notificaremos sobre cualquier cambio publicando la nueva política en esta página. Le recomendamos revisar esta página periódicamente para estar al tanto de cualquier cambio.</p>

<h2>Contacto</h2>
<p>Si tiene alguna pregunta sobre esta Política de Privacidad o sobre cómo manejamos su información, puede ponerse en contacto conmigo a través de la información de contacto proporcionada en el sitio web josecastellano.dev.</p>

<p><em>Fecha de entrada en vigor: 29 de junio de 2024</em></p>

<p>Esta Política de Privacidad es efectiva a partir de la fecha mencionada y permanecerá en vigor excepto en lo que respecta a cualquier cambio en sus disposiciones en el futuro, que entrarán en vigor inmediatamente después de ser publicados en esta página.</p>
</Layout>

<style>
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
</style>