---
import ProfileCheckIcon from "../components/icons/ProfileCheckIcon.astro";
import Section from "./Section.astro";
---

<Section id="sobre-mi">
  <h2><ProfileCheckIcon />Sobre mí</h2>
  <p>
    Hey, soy José Manuel, aunque no me gusta. Me recuerda a cuando me
    llamaba mi madre cuando suspendía un examen. Así que solo Jose.
  </p>
  <p>
    Desde pequeñito sabía que me iba a dedicar a algo relacionado con los
    ordenadores, era una <strong>extraña pasión</strong> que tenía. Veía algún aparato
    electrónico y el <strong>resto del mundo desaparecía</strong>.
  </p>
  <p>
    Así que hoy soy <strong>Ingeniero en Telemática por la Universidad de Málaga</strong>.
    Aunque no te voy a engañar, a día de hoy <strong>no es mi pasión</strong>.
  </p>
  <p>
    En 2019, el año que entré a la carrera, <strong>fue un fracaso</strong>. Descubrí el
    mundo del <strong>Emprendimiento</strong> y del <strong>Desarrollo Web</strong> y empecé a hacer mis
    primeros pinitos.
  </p>
  <p>
    La carrera pasó por un tiempo a segundo plano, y eso se reflejó en las
    notas. <strong>Solo aprobé dos</strong>, casualmente las más relacionadas con la
    programación.
  </p>
  <p>
    Después de una charla con mi madre, decidimos que <strong>"lo mejor"</strong> era acabar
    la carrera. Era el primer año, por lo que me quedaba alguno que otro
    más...
  </p>
  <p>
    5 años después, soy Ingeniero y celebro cada día desde que me dieron el
    último aprobado, ya que <strong>ahora puedo dedicarme a lo que me gusta
    realmente</strong>.
  </p>
  <p>
    No quiero decir que no mereciera la pena la carrera, quiero decir, <strong>tengo
    la vida resuelta</strong> si quisiera.
  </p>
  <p>¿A qué persona en el mundo en que vivimos actualmente no le gustaría poder decir esto?</p>
  <p>
    Pero <strong>no es lo que quiero</strong>, no quiero seguir órdenes toda mi vida, quiero
    trabajar por cuenta propia y para mi propio beneficio. <strong>Que toda mi vida
    dependa única y exclusivamente de mí</strong>.
  </p>
  <p>
    Es por eso que tengo mi <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/@josecastellanodev"
      >Canal de YouTube</a
    >, y mi <a
      href="Sígueme en LinkedIn: www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=josecastellanosierras"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >.
  </p>
</Section>

<style>
  p:nth-last-child(n + 2) {
    margin-bottom: 1.5rem;
  }
</style>