<form action="/newsletter" method="post">
  <!-- <fieldset>
    <label for="name">Nombre: <span>*</span></label>
    <input type="text" name="name" required placeholder="Jose Castellano...">
  </fieldset> -->

  <fieldset id="email-fieldset">
    <label for="email">Email: <span>*</span></label>
    <input type="text" name="email" required placeholder="jose@josecastellano.net">
  </fieldset>

  <fieldset id="privacy-policy-fieldset">
    <input type="checkbox" name="privacy-policy" id="privacy-policy" required>
    <label for="privacy-policy">Acepto la <a href="/politica-privacidad">política de privacidad</a> <span>*</span></label>
  </fieldset>

  <button type="submit">Suscribirme</button>
</form>

<style>
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    gap: 0.8rem;
  }

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  #privacy-policy-fieldset {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }

  input, button {
    border: none;
    border-radius: 3px;
  }

  input {
    padding: 10px;
  }

  input[type="checkbox"] {
    accent-color: var(--accent-100);
  }

  button {
    margin-top: 10px;
    padding: 15px;
    background-color: var(--primary-200);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  button:hover {
    background-color: var(--primary-300);
  }

  span {
    color: var(--accent-100);
    font-size: 18px;
  }

  a {
    color: var(--accent-200);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 380px) {
    h1 {
      font-size: 2rem !important;
    }
  }

  @media (max-width: 480px) {
    form {
      width: 90%;
    }
  }
</style>