---
import Section from "./Section.astro"
import CodeIcon from "./icons/CodeIcon.astro"
---

<Section id="proyectos">
  <h2><CodeIcon />Proyectos</h2>
  <p>
    Aquí iré subiendo los proyectos que construya en <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.youtube.com/@josecastellanodev"
      >mi canal de YouTube</a
    >.
  </p>
  <a
    id="proyects-link"
    target="_blank"
    rel="noopener noreferrer"
    href="https://github.com/jcastellanosierras"
  >
    <button>Ver proyectos</button>
  </a>
</Section>

<style>
  #proyectos > button {
    background-color: var(--accent-200);
    transition: background-color 0.2s;
    border-radius: 7px;
    height: 30px;
    margin: 0 auto;
    margin-top: 2rem;
    width: fit-content;
  }

  #proyectos > button:hover {
    background-color: var(--accent-100);
  }

  #proyectos > button > a {
    color: var(--bg-100);
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
  }

  #sobre-mi > p {
    font-size: 1rem;
  }

  #sobre-mi > p strong {
    color: var(--primary-200);
  }

  #proyects-link {
    margin: 0 auto;
  }

  button {
    margin-top: 2rem;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px 10px var(--bg-200);
    background-color: var(--accent-200);
    color: var(--bg-100);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem 0.8rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  button:hover {
    color: var(--text-100);
    background-color: var(--accent-100);
  }

  button:active {
    transform: scale(0.9);
  }
</style>