---
import Avatar from './Avatar.astro'
---

<div id="sign">
  <div id="avatar">
    <Avatar width='40px' heigth='40px' />
  </div>
  <p>Jose Castellano</p>
</div>

<style>
  #sign {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
</style>