---
import "@fontsource-variable/onest"

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/josecastellano.webp" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/reset.css">

		<!-- robots.txt -->
		<link rel="sitemap" href="/sitemap-index.xml" />

		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--primary-100:#61DAFB;
    --primary-200:#39bcdc;
    --primary-300:#007997;
    --accent-100:#FF4081;
    --accent-200:#ffe4ff;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#282C34;
    --bg-200:#383c44;
    --bg-300:#50555e;
		--accent-100-opacity: rgba(255, 64, 129, 0.3);
		--accent-200-opacity: rgba(255, 64, 129, 0.3);
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--bg-100);
		background-size: 224px;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1, h2, h3, h4, h5, h6 {
		color: var(--text-100);
		text-wrap: balance;
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	p {
		color: var(--text-200);
		line-height: 1.5;
		font-size: 1.25rem;
		text-wrap: pretty;
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	/* .onest-font {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

a {
	text-decoration: none;
}
</style>
