---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import BaseLayout, { type BaseLayoutProps } from '@/layouts/BaseLayout.astro'

interface Props extends BaseLayoutProps {}

export interface LayoutProps extends Props {}

const { title, description, index = true } = Astro.props
---

<BaseLayout
  title={title}
  description={description}
  index={index}
>
  <Header />
  <main id="slot-container">
    <slot />
  </main>
  <Footer />
</BaseLayout>
