---
import "@fontsource-variable/onest"

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

export interface BaseLayoutProps {
	title: string;
	description?: string;
	index?: boolean;
}

const { title, description, index = true } = Astro.props as BaseLayoutProps
---

<!doctype html>
<html lang="es">
	<head>
		<!-- Google Tag Manager -->
		<script src="../scripts/googleTag.js"></script>
		<!-- End Google Tag Manager -->

		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link  rel="icon" type="image/svg+xml" href="/josecastellano.avif" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/reset.css">

		<!-- Index  -->
		<meta name="robots" content={index ? "index, follow" : "noindex, nofollow"} />

		<!-- robots.txt -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe loading="lazy" src="https://www.googletagmanager.com/ns.html?id=GTM-W8ZVQ9SC"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<noscript ></noscript>

		<Header />
		<main id="slot-container">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--primary-100:#61DAFB;
    --primary-200:#39bcdc;
    --primary-300:#007997;
    --accent-100:#FF4081;
    --accent-200:#ffe4ff;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#282C34;
    --bg-200:#383c44;
    --bg-300:#50555e;
		--accent-100-opacity: rgba(255, 64, 129, 0.3);
		--accent-200-opacity: rgba(255, 64, 129, 0.3);
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		background: var(--bg-100);
		background-size: 224px;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1, h2, h3, h4, h5, h6 {
		color: var(--text-100);
		text-wrap: balance;
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	p {
		color: var(--text-200);
		line-height: 1.5;
		font-size: 1.25rem;
		text-wrap: pretty;
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	label {
		color: var(--text-200);
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	input, textarea {
		font-family: "Onest Variable", system-ui, sans-serif;
		font-size: 0.9rem;
	}

	a {
		text-decoration: none;
	}

	#slot-container {
		padding-top: 100px;
		flex-grow: 1;
		display: flex;
    flex-direction: column;
    align-items: center;
		gap: 1rem;
	}

	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	main {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 3rem;
	}

	@media (min-width: 768px) {
		main {
			width: 70ch;
		}
	}
</style>
